annotated-types==0.7.0
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
brotlicffi
certifi
cffi
charset-normalizer
colorama
comm
cryptography==46.0.3
debugpy
decorator
defusedxml
distro==1.9.0
exceptiongroup
executing
fastjsonschema
h11
html5lib
httpcore
httpx
idna
ipykernel
ipython
jedi
Jinja2
jiter==0.12.0
json5
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
langchain==1.2.0
langchain-core==1.2.2
langgraph==1.0.5
langgraph-checkpoint==3.0.1
langgraph-prebuilt==1.0.5
langgraph-sdk==0.3.0
langsmith==0.5.0
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook_shim
numpy==2.2.6
openai==2.13.0
orjson==3.11.5
ormsgpack==1.12.1
overrides
packaging
pandas==2.3.3
pandocfilters
parso
pdfminer.six==20251107
pdfplumber==0.11.8
pillow==12.0.0
platformdirs
prometheus_client
prompt_toolkit
psutil
pure_eval
pycparser
pydantic==2.12.5
pydantic_core==2.41.5
Pygments
PyMuPDF==1.26.7
pypdfium2==5.2.0
PySocks
python-dateutil
python-json-logger
pytz==2025.2
pywin32
pywinpty
PyYAML
pyzmq
referencing
requests
requests-toolbelt==1.0.0
rfc3339-validator
rfc3986-validator
rpds-py
Send2Trash
six
sniffio
soupsieve
stack_data
tenacity==9.1.2
terminado
tinycss2
tomli
tornado
tqdm==4.67.1
traitlets
typing-inspection==0.4.2
typing_extensions
tzdata==2025.3
urllib3
uuid_utils==0.12.0
wcwidth
webencodings==0.5.1
websocket-client
win_inet_pton
xxhash==3.6.0
zstandard==0.25.0
pytesseract==0.3.10
pdf2image==1.16.3
